/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*css variables*/
:root {
    --primary-font: "Jersey 10", sans-serif;
    --secondary-font: "Public Sans", sans-serif;
    --background-color: #000000; /*black*/
    --primary-color: #FFBE0B; /*amber*/
    --secondary-color: #FB5607; /*orange*/
    --game-one-color: #FF006E; /*rose*/
    --game-two-color: #8338EC; /*blue violet (purple)*/
    --game-three-color: #3A86FF; /*azure*/
}

/*navigation customisation*/
.navbar-custom {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    border: dashed;
    border-color: var(--primary-color);
}

.navbar-custom .navbar-brand {
    color: var(--primary-color);
    font-size: 40px;
    padding-left: 1em;
}

.navbar-custom .navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar-custom .navbar-list {
    color: var(--primary-color);
    font-size: 40px;
    text-align: right;
    padding-right: 1em;
    list-style: none;
    display: flex;
}

/*separate the list items for readability*/
li {
    margin: 5px;
}

/*hover animation*/
.hover-underline {
    color: var(--primary-color);
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FFBE0B, #FB5607);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

/*changes navigation list text colour*/
.navbar-custom .navbar-list #home:hover,
.navbar-custom .navbar-list #game1:hover,
.navbar-custom .navbar-list #game2:hover,
.navbar-custom .navbar-list #game3:hover {
    color: var(--secondary-color);
}

/*main body*/
main {
    font-family: var(--primary-font);
}

#games {
    border: dashed var(--secondary-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("../images/background.jpg");
}

#game-block {
    background-color: rgb(0,0,0, 0.7); /*transparent black*/
    height: 100%;
    width: 33vw;
    text-align: center;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-block img {
    height: 25vh;
    width: 25vw;
    margin: 5px;
    padding-left: 2em;
    padding-right: 2em;
}

#game-one {
    color: var(--game-one-color);
}

#game-two {
    color: var(--game-two-color);
}

#game-three {
    color: var(--game-three-color);
}

#games button {
    border-radius: 12px;
    border: 4px solid;
    width: 10vw;
    height: 5vh;
    font-size: 120%;
   margin: 5px;
}

#button-one {
    border-color: var(--game-one-color)!important;
    background: none;
    color: var(--game-one-color)!important;
}

#button-one:hover {
    background: white;
}

#button-two {
    border-color: var(--game-two-color) !important;
    background: none;
    color: var(--game-two-color) !important;
}

#button-two:hover {
    background: white;
}

#button-three {
    border-color: var(--game-three-color) !important;
    background: none;
    color: var(--game-three-color) !important;
}

#button-three:hover {
    background: white;
}

/*footer customisation*/
footer {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    border: dashed;
    border-color: var(--primary-color);
    text-align: center;
    width: 100%;
    position: fixed;
}

footer h1 {
    color: var(--primary-color);
}

footer h1 a {
    color: inherit;
    text-decoration: none;
}

footer h1 a:hover {
    color: var(--secondary-color);
    font-size: 120%;
}

/* RPG game customisation */
#RPG-container {
    /*font-family: var(--primary-font);
    background-color: var(--background-color);
    border: dashed;
    border-color: var(--game-two-color);
    width: auto;
    height: auto; */
    background-color: var(--background-color);
    width: 600px;
    height: 650px;
    color: var(--game-two-color);
    border: 20px solid var(--game-two-color);
    box-shadow: inset 0 0 0 5px var(--game-two-color);
    border-radius: 20px;
    position: relative;
    margin: auto;
}
    


#RPG-text {
    color:var(--game-two-color);
    text-align: center;
}

#RPG-game {
    background: url(../images/RPG/background.jpg) center;
    background-size: cover;
    height:300px;
    width: 500px;
}
#RPG-game img {
    width: 150px;
    height:150px;
}

#player-monster {
    display: flex;
    width: 100%;
    margin-bottom:10px;
}

#enemy-monster {
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    justify-self: flex-end;
    align-self: flex-end;
    transform:translateY(130px)
}

#RPG-health {
    display: flex;
    justify-content: space-between;
    width: 105%;
    height:auto;
    margin-bottom: 10px;
    transform:translate(-12px, -48px);
    background-color: rgba(40, 100, 255, 0.6);
    color:aliceblue;
}

#RPG-menu {
    color:var(--game-two-color);
    background-color: rgba(35, 0, 255, 0.1);
    width: 500px;
    height: 150px;
}
#RPG-menu button {
    border-radius: 12px;
    border: 1px solid var(--game-two-color);
    color:#8338EC;
    font-size: 100%;
    margin: 5px;
}

#RPG-menu button:hover {
    background: var(--game-two-color);
    color: white;
}

#RPG-Victory {
    display:none;
    position:fixed;
    color: var(--game-two-color);
    text-align: center;
    font-size: 150%;
    margin-top: 20px;
}
#RPG-Victory .modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--game-two-color);
    padding: 20px;
    border-radius: 10px;
}

#RPG-Defeat {
    display:none;
    position:fixed;
    color: var(--game-two-color);
    text-align: center;
    font-size: 150%;
    margin-top: 20px;
}
#RPG-Defeat .modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--game-two-color);
    padding: 20px;
    border-radius: 10px;
}

.blackground {
    background-color: var(--background-color);
}